<p></p>
<div class="container col-md-12">
    <div class="panel panel-info">
        <div class="panel panel-heading"> <marquee><h1>GESTION DES REMONTEES</h1></marquee></div>
        <div class="panel panel-body">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Service</th>
                  <th scope="col">operateur</th>
                  <th scope="col">Numéro</th>
                  <th scope="col">Montant</th>
                  <th scope="col">Date operation</th>
                  <th scope="col">Option</th>
                </tr>
              </thead>
              <tbody>
                     <tr *ngFor="let l of listRemonte">
                        <td><strong>{{l.id}}</strong></td>
                        <td><strong>{{l.phone}}</strong></td>
                        <td *ngIf="requete==1"><strong> depot</strong></td>
                        <td *ngIf="requete==2"><strong>retrait</strong></td>
                        <td ><strong> {{l.service}}</strong></td>
                        <td *ngIf="requete==1 && l.service == 'orange money'"><strong>{{montant}}</strong></td>
                        <td *ngIf="requete==1 && l.service == 'orange money'"><strong>{{num}}</strong></td>
                        <td *ngIf="requete==2 && l.service == 'orange money'"><strong>{{num}}</strong></td>
                        <td *ngIf="requete==2 && l.service == 'orange money'"><strong>{{montant}}</strong></td>
                        <td *ngIf="requete==1 && l.service == 'tigo cash'"><strong>{{montant}}</strong></td>
                        <td *ngIf="requete==1 && l.service == 'tigo cash'"><strong>{{num}}</strong></td>
                        <td *ngIf="requete==2 && l.service == 'tigo cash'"><strong>{{montant}}</strong></td>
                        <td *ngIf="requete==2 && l.service == 'tigo cash'"><strong>{{num}}</strong></td>
                        <td ><strong> {{l.dateOp}}</strong></td>
                        <td *ngIf="requete==1 || requete==2" ><a class="btn btn-primary"  (click)="openModal(template)" style="margin-left: 5%;cursor: pointer;"  title="Traiter" ><strong> Traiter</strong></a>
                        </td>
                  </tbody>
                       
              </table>
              
        </div>
        <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Gestion remonte</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div>
                   <form  #patientForm="ngForm">
                      <div class="form-group">
                          
                          <ul class="list-group">
                             <strong>Numero</strong> <li class="list-group-item">{{montant}}</li>
                             <strong>Montant</strong> <li class="list-group-item">{{num}}</li>
                             <strong>date Operation</strong> <li class="list-group-item">{{listRemonte.dateOp}}</li>
                          </ul>
                         <label class="control-label">Resultat</label>
                         <select class="form-control" type="text" name="result" required
                         [(ngModel)]="result"
                         #name="ngModel"> 
                            <option value="">---------Selectionné--------</option>
                            <option *ngFor="let c of Result" >{{c.etat}}</option>
                        </select> 
                        <div *ngIf="result=='Echec'">
                                <label class="control-label">Cause</label>
                                <select class="form-control" type="text" name="cause" required
                                [(ngModel)]="cause"
                                #name="ngModel"> 
                                   <option value="">---------Selectionné--------</option>
                                   <option *ngFor="let c of Echec" >{{c.info}}</option>
                               </select> 
                            </div>   
                      </div>
                     <p></p>
                     <div class="form-group">
                       <input type="submit" class="btn btn-success" value="" (click)="remonyer(listRemonte.id);modalRef.hide()" value="Valider">
                     </div>
                    </form>
              </div>
            </div>
          </ng-template>
    </div>
</div>